$vars: (
  border-radius: 8px,
  col-primary-dark: hsla(226, 71%, 50%, 1),
  col-primary-main: hsla(225, 100%, 60%, 1),
  col-primary-light: hsla(224, 100%, 70%, 1),
  col-dark-100: hsla(237, 19%, 82%, 1),
  col-dark-200: hsla(235, 12%, 60%, 1),
  col-dark-300: hsla(236, 14%, 39%, 1),
  col-dark-400: hsla(237, 21%, 20%, 1),
  col-dark-500: hsla(237, 26%, 8%, 1),
  col-light-100: hsla(240, 14%, 97%, 1),
  col-light-200: hsla(225, 17%, 95%, 1),
  col-light-300: hsla(230, 18%, 93%, 1),
  col-light-400: hsla(231, 17%, 92%, 1),
  col-light-500: hsla(232, 17%, 91%, 1),
  col-success-100: hsla(113, 92%, 91%, 1),
  col-success-200: hsla(120, 87%, 82%, 1),
  col-success-300: hsla(126, 76%, 70%, 1),
  col-success-400: hsla(131, 66%, 60%, 1),
  col-success-500: hsla(138, 70%, 46%, 1),
  col-success-600: hsla(143, 73%, 38%, 1),
  col-success-700: hsla(150, 78%, 31%, 1),
  col-success-800: hsla(155, 82%, 25%, 1),
  col-success-900: hsla(161, 88%, 20%, 1),
  col-error-100: hsla(23, 100%, 92%, 1),
  col-error-200: hsla(18, 100%, 85%, 1),
  col-error-300: hsla(13, 100%, 77%, 1),
  col-error-400: hsla(8, 100%, 71%, 1),
  col-error-500: hsla(4, 100%, 61%, 1),
  col-error-600: hsla(358, 71%, 51%, 1),
  col-error-700: hsla(353, 73%, 42%, 1),
  col-error-800: hsla(348, 77%, 33%, 1),
  col-error-900: hsla(343, 83%, 26%, 1),
  font-family: Inter
);

@mixin var($property, $variable) {
  #{$property}: map-get($vars, $variable);
  #{$property}: var(--#{$variable});
}

@mixin includeVars {
  @each $property, $value in $vars {
    --#{$property}: #{$value};
  }
}

// TODO move to somewhere else
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  * {
    box-sizing: border-box;
    @include var(font-family, font-family);
  }

  @include includeVars();
}
